.new-movie h1 {
  text-align: center;
  margin-bottom: 1rem;
  color: #ecf0f1;
}

.new-movie button {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  margin-left: 213px;
  background-color: #00FFFF;
  color: #2c3e50;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.new-movie button:hover {
  background-color: #7bcdcd;
  transform: scale(1.05);
}

form {
  max-width: 500px;
  margin: 0 auto;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-control input {
  padding: 0.5rem;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  transition: border-color 0.3s;
}

.form-control input:focus {
  border-color: #00FFFF;
}

.form-control label {
  margin-bottom: 0.5rem;
  color: #ecf0f1;
  text-align: center;
}

.button {
  text-align: center;
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
}

.btn {
  background-color: #00FFFF;
  color: #2c3e50;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  background-color: #7bcdcd;
  transform: scale(1.05);
}
